<!DOCTYPE html>
<html ng-app="asb_main">
    <head>
        <title>{{_state_title}}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/asb_main.css">

        <script language="javascript" src="https://cdn.jsdelivr.net/npm/angular@latest/angular.min.js"></script>
        <script language="javascript" src="https://cdn.jsdelivr.net/npm/angular-animate@latest/angular-animate.min.js"></script>
        <script language="javascript" src="https://cdn.jsdelivr.net/npm/angular-aria@latest/angular-aria.min.js"></script>
        <script language="javascript" src="https://cdn.jsdelivr.net/npm/angular-messages@latest/angular-messages.min.js"></script>
        <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js"></script>
        <script language="javascript" src="https://unpkg.com/@uirouter/angularjs@latest/release/angular-ui-router.min.js"></script>
        <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
        <!-- https://github.com/auth0/angular-jwt -->
        <script language="javascript" src="/js/lib/angular-jwt.min.js"></script>
        <script language="javascript" src="/js/lib/ng-file-upload.min.js"></script>
        <script language="javascript" src="/js/lib/ng-file-upload-shim.min.js"></script>

        <script language="javascript" src="/js/env.js"></script>
        <script language="javascript" src="/js/asb_main.js"></script>

        <!-- Services -->
        <script language="javascript" src="/js/services/authentication.service.js"></script>
        <script language="javascript" src="/js/services/user.service.js"></script>
        <script language="javascript" src="/js/services/client.service.js"></script>
        <script language="javascript" src="/js/services/client_seat.service.js"></script>
        <script language="javascript" src="/js/services/client_role.service.js"></script>
        <script language="javascript" src="/js/services/project.service.js"></script>
        <script language="javascript" src="/js/services/platform.service.js"></script>
        <script language="javascript" src="/js/services/account_type.service.js"></script>
        <script language="javascript" src="/js/services/account.service.js"></script>
        <script language="javascript" src="/js/services/platform.service.js"></script>
        <script language="javascript" src="/js/services/community.service.js"></script>
        <script language="javascript" src="/js/services/community_type.service.js"></script>
        <script language="javascript" src="/js/services/community_account.service.js"></script>
        <script language="javascript" src="/js/services/client_project_community.service.js"></script>
        <script language="javascript" src="/js/services/projplatform.service.js"></script>
        <script language="javascript" src="/js/services/client_project_account.service.js"></script>
        <script language="javascript" src="/js/services/client_project_community.service.js"></script>

        <!-- Controllers -->
        <script language="javascript" src="/js/controllers/c_index.js"></script>
        <script language="javascript" src="/js/controllers/c_nav.js"></script>
        <script language="javascript" src="/js/controllers/c_footer.js"></script>
        <script language="javascript" src="/js/controllers/c_profile.js"></script>
        <script language="javascript" src="/js/controllers/c_clients.js"></script>
        <script language="javascript" src="/js/controllers/c_seats.js"></script>
        <script language="javascript" src="/js/controllers/c_help.js"></script>
        <script language="javascript" src="/js/controllers/c_login.js"></script>
        <script language="javascript" src="/js/controllers/c_projects.js"></script>
        <script language="javascript" src="/js/controllers/c_accounts.js"></script>
        <script language="javascript" src="/js/controllers/c_platforms.js"></script>
        <script language="javascript" src="/js/controllers/c_communities.js"></script>
    </head>
    <body>
        <div class="container-fluid" style="margin-top: 50px;">
            <div class="row">
                <div class="col-md-10" ui-view="v_global">
                </div>
            </div>
        </div>
    </body>
</html>
