<div>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Community List</span> <span class="md-subhead {{vm.status_class}}">{{vm.status}}</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <md-card>
            <md-card-content>
                <form ng-submit="_new_community_form.$valid&&vm.submit_community_form()" name="_new_community_form">
                    <md-button type="button" class="md-fab md-mini md-warning" aria-label="Clear Form" title="Clear Form" ng-click="vm.clear_this_form()">
                        <span class="glyphicon glyphicon-erase"></span>
                    </md-button>
                    <md-button type="submit" class="md-fab md-mini md-primary" aria-label="Save New Entry" title="Save New Entry" ng-disabled="_new_community_form.$invalid">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </md-button>
                    <md-input-container>
                        <input type="text" title="New Community Name" placeholder="New Community Name" ng-model="vm.this_community.name" name="_name" style="width: 150px;" required>
                    </md-input-container>
                    <!--Show platform if user is admin-->
                    <md-input-container>
                        <md-select title="Platform" placeholder="Select Platform" ng-model="vm.this_community.platform_id" style="width: 150px;" ng-show="is_global_admin == true">
                            <md-option ng-repeat="_option in vm.platforms" value="{{_option.id}}">
                                {{_option.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <!--Show project if user is not admin (platform is implied)-->
                    <md-input-container>
                        <md-select title="Project" placeholder="Select Initial Project" ng-model="vm.this_community.project_id" style="width: 150px;" ng-show="is_global_admin == false">
                            <md-option ng-repeat="_option in vm.projects" value="{{_option.id}}">
                                {{_option.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <input type="file" class="file" ng-model="vm.this_community.file" name="_file" ngf-select style="width: 400px;">
                    </md-input-container>
                    <!--<md-input-container>-->
                        <!--<md-select title="Community Type" placeholder="Community Type" ng-model="vm.this_community.ref_community_type_id" name="_type" style="width: 150px;" required>-->
                            <!--<md-option ng-repeat="_option in vm.community_types" value="{{_option.id}}">-->
                                <!--{{_option.typename}}-->
                            <!--</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->
                </form>
            </md-card-content>
        </md-card>

        <md-card ng-repeat="_community in vm.communities">
            <!--<md-card-title>-->
                <!--<md-card-title-text>-->
                    <!--<span class="md-headline"></span> <span class="md-subhead {{_community.status_class}}">{{_community.status}}</span>-->
                <!--</md-card-title-text>-->
            <!--</md-card-title>-->
            <md-card-content>
                <form ng-submit="vm.update_community_form(_community)">
                    <div layout="row">
                        <md-button ng-click="vm.delete_community(_community.id)" type="button" class="md-fab md-mini md-error" aria-label="Delete This Community" title="Delete This Community">
                            <span class="glyphicon glyphicon-trash"></span>
                        </md-button>
                        <md-button ng-click="vm.update_form(_community)" type="submit" class="md-fab md-mini md-primary" aria-label="Save Community Updates" title="Save Community Updates">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </md-button>
                        <md-button ng-click="vm.export_community_to_csv(_community, _community.num_of_accounts)" type="button" class="md-fab md-mini md-primary" aria-label="Export Community to CSV" title="Export Community to CSV">
                            <span class="glyphicon glyphicon-export"></span>
                        </md-button>


                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" title="Community Name" placeholder="Community Name" ng-model="_community.name" style="width: 150px;">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" readonly title="Number of Member Accounts" placeholder="Number of Member Accounts" ng-model="_community.num_of_accounts" style="width: 150px;">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" readonly title="Platform Name" placeholder="Platform Name" ng-model="_community.platform_name" style="width: 150px;">
                        </md-input-container>
                        <!--<md-input-container>-->
                            <!--<md-select title="Community Type" placeholder="Community Type" ng-model="_community.ref_community_type_id" style="width: 150px;">-->
                                <!--<md-option ng-repeat="_option in vm.community_types" value="{{_option.id}}">-->
                                    <!--{{_option.typename}}-->
                                <!--</md-option>-->
                            <!--</md-select>-->
                        <!--</md-input-container>-->
                        <!--<md-button ng-click="vm.manage_community_accounts(_community)" type="button" class="md-fab md-mini md-primary" aria-label="Community Accounts" title="Community Accounts {{_community.id}}">-->
                            <!--<span class="glyphicon glyphicon-user"></span>-->
                        <!--</md-button>-->
                    </div>
                </form>

            </md-card-content>
        </md-card>

        <md-card ng-repeat="_community in vm.global_communities" style="background-color: #F0F0F0;" alt="Global Communities">
            <md-card-content>
                    <div layout="row">
                        <md-button ng-click="vm.delete_community(_community.id)" type="button" class="md-fab md-mini md-error" aria-label="Globally Accessible Community" title="Globally Accessible Community" disabled="true">
                            <span class="glyphicon glyphicon-trash"></span>
                        </md-button>
                        <md-button ng-click="vm.update_form(_community)" type="submit" class="md-fab md-mini md-primary" aria-label="Globally Accessible Community" title="Globally Accessible Community" disabled="true">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </md-button>
                        <md-button ng-click="vm.export_community_to_csv(_community, _community.num_of_accounts)" type="button" class="md-fab md-mini md-primary" aria-label="Export Community to CSV" title="Export Community to CSV">
                            <span class="glyphicon glyphicon-export"></span>
                        </md-button>


                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" title="Community Name" placeholder="Community Name" ng-model="_community.name" style="width: 150px;">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" readonly title="Number of Member Accounts" placeholder="Number of Member Accounts" ng-model="_community.num_of_accounts" style="width: 150px;">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" readonly title="Platform Name" placeholder="Platform Name" ng-model="_community.platform_name" style="width: 150px;">
                        </md-input-container>
                    </div>

            </md-card-content>
        </md-card>

    </md-card-content>
</md-card>
</div>
