<div class="col-md-12">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Social Media Accounts</span> <span class="md-subhead {{vm.status_class}}">{{vm.status}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form ng-submit="vm.repaginate_form()">
                <div layout="row">
                    <md-button type="submit" class="md-fab md-mini" aria-label="Refresh" title="Refresh">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </md-button>
                    <md-input-container>
                        <md-select title="Offset" placeholder="Offset" ng-model="vm.this_output.offset" style="width: 150px;">
                            <md-option ng-repeat="_option in vm.this_output.offsets" value="{{_option}}">
                                {{_option}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <md-select title="Limit" placeholder="Limit" ng-model="vm.this_output.limit" style="width: 150px;">
                            <md-option ng-repeat="_option in vm.this_output.limits" value="{{_option}}">
                                {{_option}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </form>
        </md-card-content>
        <md-card-content>
            <!--<form ng-submit="vm.submit_account_form()">-->
                <!--<div layout="row">-->
                    <!--<md-button type="button" class="md-fab md-mini md-warning" aria-label="Clear Form" title="Clear Form" ng-click="vm.clear_this_form()">-->
                        <!--<span class="glyphicon glyphicon-erase"></span>-->
                    <!--</md-button>-->
                    <!--<md-button type="submit" class="md-fab md-mini md-primary" aria-label="Save New Entry" title="Save New Entry">-->
                        <!--<span class="glyphicon glyphicon-floppy-disk"></span>-->
                    <!--</md-button>-->
                    <!--<md-input-container class="md-block" flex-gt-sm>-->
                        <!--<input type="text" title="Account Name" placeholder="Account Name" ng-model="vm.this_account.screen_name" style="width: 400px;">-->
                    <!--</md-input-container>-->
                    <!--<md-input-container>-->
                        <!--<md-select title="Platform" placeholder="Platform" ng-model="vm.this_account.ref_platform_id" style="width: 150px;">-->
                            <!--<md-option ng-repeat="_option in vm.platforms" value="{{_option.id}}">-->
                                <!--{{_option.name}}-->
                            <!--</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->
                <!--</div>-->
            <!--</form>-->
            <div layout="row" ng-repeat="_account in vm.accounts">
                <form ng-submit="vm.update_account_form(_account)">
                    <div layout="row">
                        <md-button ng-click="vm.delete_account(_account.id)" type="button" class="md-fab md-mini md-error" aria-label="Delete This Entry" title="Delete This Entry">
                            <span class="glyphicon glyphicon-trash"></span>
                        </md-button>
                        <md-button ng-click="vm.update_form(_account)" type="submit" class="md-fab md-mini md-primary" aria-label="Save Entry Updates" title="Save Entry Updates">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </md-button>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" title="Account Name" placeholder="Account Name" ng-model="_account.screen_name" style="width: 400px;">
                        </md-input-container>
                        <md-input-container>
                            <md-select title="Platform" placeholder="Platform" ng-model="_account.ref_platform_id" style="width: 150px;">
                                <md-option ng-repeat="_option in vm.platforms" value="{{_option.id}}">
                                    {{_option.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </form>
            </div>
        </md-card-content>
    </md-card>
</div>
