<div class="col-md-12">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Seats</span> <span class="md-subhead {{vm.status_class}}">{{vm.status}}</span>
            </md-card-title-text>
        </md-card-title>

        <input type="hidden" ng-model="vm.this_seat.id" />
        <input type="hidden" ng-model="vm.this_seat.mode" />
        <input type="hidden" ng-model="vm.this_seat.password" />
        <md-card-content>
            <form ng-submit="vm.submit_form()">
                <div layout="row">
                    <md-button type="button" class="md-fab md-mini md-warning" aria-label="Clear Form" title="Clear Form" ng-click="vm.clear_this_form()">
                        <span class="glyphicon glyphicon-erase"></span>
                    </md-button>
                    <md-button type="submit" class="md-fab md-mini md-primary" aria-label="Save New Entry" title="Save New Entry">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </md-button>
                    <md-input-container>
                        <input type="text" title="New User Name" placeholder="New User Name" ng-model="vm.this_seat.name" style="width: 150px;">
                    </md-input-container>
                    <md-input-container>
                        <input type="text" title="New User Email" placeholder="New User Email" ng-model="vm.this_seat.email" style="width: 250px;">
                    </md-input-container>
                    <md-input-container>
                        <md-select title="Affiliated Client" placeholder="Affiliated Client" ng-model="vm.this_seat.tab_client_id" style="width: 250px;">
                            <md-option ng-repeat="_option in vm.clients" value="{{_option.id}}">
                                {{_option.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <md-select title="Role" placeholder="Role" ng-model="vm.this_seat.ref_client_role_id" style="width: 150px;">
                            <md-option ng-repeat="_option in vm.client_roles" value="{{_option.id}}">
                                {{_option.role}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </form>
            <div layout="row">&nbsp;</div>
            <div layout="row" ng-repeat="_seat in vm.seats">
                <form ng-submit="vm.update_form(_seat)">
                    <div layout="row">
                        <md-button ng-click="vm.delete_client_seat(_seat.id)" type="button" class="md-fab md-mini md-error" aria-label="Delete This Entry" title="Delete This Entry">
                            <span class="glyphicon glyphicon-trash"></span>
                        </md-button>
                        <md-button ng-click="vm.update_form(_seat)" type="submit" class="md-fab md-mini md-primary" aria-label="Save Entry Updates" title="Save Entry Updates">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </md-button>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" title="User Name" placeholder="User Name" ng-model="_seat.name" style="width: 150px;">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" title="User Email" placeholder="User Email" ng-model="_seat.email" style="width: 250px;">
                        </md-input-container>
                        <md-input-container>
                            <md-select title="Affiliated Client" placeholder="Affiliated Client" ng-model="_seat.tab_client_id" style="width: 250px;">
                                <md-option ng-repeat="_option in vm.clients" value="{{_option.id}}">
                                    {{_option.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <md-select title="Role" placeholder="Role" ng-model="_seat.ref_client_role_id" style="width: 150px;">
                                <md-option ng-repeat="_option in vm.client_roles" value="{{_option.id}}">
                                    {{_option.role}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </form>
            </div>
        </md-card-content>
    </md-card>
</div>
