<div class="col-md-12">
    <div class="row">
        <strong>Clients</strong> <span class="{{vm.status_class}}">{{vm.status}}</span>
    </div>
    <div class="row">
        <table>
            <form ng-submit="vm.submit_form()">
                <input type="hidden" ng-model="vm.this_client.id" />
                <input type="hidden" ng-model="vm.this_client.mode" />
                <tr>
                    <td>
                        <md-button type="button" class="md-fab md-mini md-warning" aria-label="Clear Form" title="Clear Form" ng-click="vm.clear_this_form()">
                            <span class="glyphicon glyphicon-erase"></span>
                        </md-button>
                        <md-button type="submit" class="md-fab md-mini md-primary" aria-label="Save New Entry" title="Save New Entry" ng-click="vm.submit_form()">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </md-button>
                    </td>
                    <td>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" title="Client Name" placeholder="Client Name" ng-model="vm.this_client.name">
                        </md-input-container>
                    </td>
                    <td></td><td></td>
                </tr>
            </form>
            <tr ng-repeat="_client in vm.clients">
                <form ng-submit="vm.update_form(_client)">
                    <td>
                        <md-button ng-click="vm.delete_client(_client.id)" type="button" class="md-fab md-mini md-error" aria-label="Delete This Entry" title="Delete This Entry">
                            <span class="glyphicon glyphicon-trash"></span>
                        </md-button>
                        <md-button ng-click="vm.update_form(_client)" type="submit" class="md-fab md-mini md-primary" aria-label="Save Entry Updates" title="Save Entry Updates">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </md-button>
                    </td>
                    <!--<td title="Name">{{_client.name}}</td><td title="Updated At">{{_client.updated_at}}</td><td title="Created At">{{_client.created_at}}</td>-->
                    <td title="Name">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" title="Client Name" placeholder="Client Name" ng-model="_client.name">
                        </md-input-container>
                    </td><td title="Updated At">{{_client.updated_at}}</td><td title="Created At">{{_client.created_at}}</td>
                </form>
            </tr>
        </table>
    </div>
</div>
