
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Project List</span> <span class="md-subhead {{vm.status_class}}">{{vm.status}}</span>
        </md-card-title-text>
    </md-card-title>

    <input type="hidden" ng-model="vm.this_project.client_id" />
    <input type="hidden" ng-model="vm.this_project.client_seat_id" />
    <md-card-content>
        <md-card>
            <md-card-content>
                <form ng-submit="_new_project_form.$valid&&vm.submit_project_form()" name="_new_project_form">
                        <md-button type="button" class="md-fab md-mini md-warning" aria-label="Clear Form" title="Clear Form" ng-click="vm.clear_this_form()">
                            <span class="glyphicon glyphicon-erase"></span>
                        </md-button>
                        <md-button type="submit" class="md-fab md-mini md-primary" aria-label="Save New Entry" title="Save New Entry" ng-disabled="_new_project_form.$invalid">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </md-button>
                        <md-input-container>
                            <input type="text" title="New Project Name" placeholder="New Project Name" name="_name" ng-model="vm.this_project.name" required style="width: 150px;">
                        </md-input-container>
                        <md-input-container>
                            <md-select title="Platform" placeholder="Platform" ng-model="vm.this_project.ref_platform_id" name="_platform" required style="width: 150px;">
                                <md-option ng-repeat="_option in vm.platforms" value="{{_option.id}}">
                                    {{_option.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <input type="checkbox" title="Alert All" placeholder="Alert All" ng-model="vm.this_project.alert_all" style="width: 250px;">
                        </md-input-container>
                </form>
            </md-card-content>
        </md-card>

        <md-card ng-repeat="_project in vm.projects">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"></span> <span class="md-subhead {{_project.status_class}}">{{_project.status}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form ng-submit="vm.update_project_form(_project)">
                    <div layout="row">
                        <md-button ng-click="vm.delete_project(_project.id)" type="button" class="md-fab md-mini md-error" aria-label="Delete This Project" title="Delete This Project">
                            <span class="glyphicon glyphicon-trash"></span>
                        </md-button>
                        <md-button ng-click="vm.update_form(_project)" type="submit" class="md-fab md-mini md-primary" aria-label="Save Project Updates" title="Save Project Updates">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </md-button>


                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" title="Project Name" placeholder="Project Name" ng-model="_project.name" style="width: 150px;">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" title="Platform Name" placeholder="Platform Name" ng-model="_project.platform.name" style="width: 150px;" readonly>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="checkbox" title="Alert All" placeholder="Alert All" ng-model="_project.alert_all" style="width: 250px;">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            {{_project.created_at}}
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            {{_project.updated_at}}
                        </md-input-container>
                        <md-button ng-click="vm.manage_accounts(_project)" type="button" class="md-fab md-mini md-primary" aria-label="Project Accounts" title="Project Accounts">
                            <span class="glyphicon glyphicon-user"></span>
                        </md-button>
                        <md-button ng-click="vm.manage_communities(_project)" type="button" class="md-fab md-mini md-primary" aria-label="Community Details" title="Community Details">
                            <span class="glyphicon glyphicon-globe"></span>
                        </md-button>
                    </div>
                </form>

            </md-card-content>
        </md-card>

    </md-card-content>
</md-card>
</div>
