<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Profile
            </div>
            <div class="panel-body">
                <form ng-submit="vm.update_profile()">
                <table class="table table-hover table-responsive">
                    <tr>
                        <td style="width: 200px;">ID</td><td>{{vm.user.id}}</td>
                    </tr>
                    <tr>
                        <td style="width: 200px;">Name</td><td>{{vm.user.name}}</td>
                    </tr>
                    <tr>
                        <td style="width: 200px;">Email</td><td>{{vm.user.email}}</td>
                    </tr>
                    <tr>
                        <td style="width: 200px;">tab_client_id</td><td><select class="select2-search" style="width: 200px;" ng-options="_client.id as _client.name for _client in vm.clients" ng-model="vm.user.tab_client_id"></select></td>
                    </tr>
                    <tr>
                        <td style="width: 200px;">ref_client_role_id</td><td><select class="select2-search" style="width: 200px;" ng-options="_client_role.id as _client_role.role for _client_role in vm.client_roles" ng-model="vm.user.ref_client_role_id"></select></td>
                    </tr>
                    <tr>
                        <td style="width: 200px;">Is Active?</td><td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" class="btn btn-primary" value="Update Your Profile" style="width: 200px;"></td>
                    </tr>
                </table>
                </form>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</div>
