<div class="row">
    <h3 class="col-md-2">
        <a ui-sref="projects_list">List</a>
    </h3>
    <h3 class="col-md-2">
        <a ui-sref="projects_stories">Stories</a>
    </h3>
</div>

<div class="row">
    <div class="col-md-12" ui-view="v_projects_content">
    </div>
</div>

