<md-card>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Social Network Communities for {{_project.name}}</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel_dialog()">
                <span class="glyphicon glyphicon-remove" aria-label="Close Details"></span>
            </md-button>
        </div>
    </md-toolbar>


    <md-card-content>
        <form ng-submit="add_community(_project)">
            <md-button type="button" class="md-fab md-mini md-warning" aria-label="Clear Form" title="Clear Form" ng-click="vm.clear_this_form()">
                <span class="glyphicon glyphicon-erase"></span>
            </md-button>
            <md-button type="submit" class="md-fab md-mini md-primary" aria-label="Save New Entry" title="Save New Entry">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </md-button>
            <md-input-container>
                <input type="text" title="New Community Name" placeholder="New Community Name" ng-model="vm.this_community.name" name="_name" style="width: 150px;" required>
            </md-input-container>
            <md-input-container>
                <md-select title="Community Type" placeholder="Community Type" ng-model="vm.this_community.ref_community_type_id" name="_type" style="width: 150px;" required>
                    <md-option ng-repeat="_option in _community_types" value="{{_option.id}}">
                        {{_option.typename}}
                    </md-option>
                </md-select>
            </md-input-container>
        </form>
    </md-card-content>

    <!--<md-card-content>-->
        <!--<form ng-submit="import_community_file(_project)">-->
            <!--<div class="row">-->
                <!--Import Community Members-->
            <!--</div>-->
            <!--<div layout="row">-->
                <!--<md-button ng-click="vm.reset_form()" type="button" class="md-fab md-mini md-error" aria-label="Reset form" title="Reset form">-->
                    <!--<span class="glyphicon glyphicon-trash"></span>-->
                <!--</md-button>-->
                <!--<md-button type="submit" class="md-fab md-mini md-primary" aria-label="Import Community List" title="Import Community List">-->
                    <!--<span class="glyphicon glyphicon-floppy-disk"></span>-->
                <!--</md-button>-->
                <!--<input type="file" ngf-select accept="text/csv" title="Import File" placeholder="Import File" style="width: 1000px;" ng-model="_form.this_file" required>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--</div>-->



        <!--</form>-->
    <!--</md-card-content>-->

    <!--<md-card-content>-->
        <!--<form ng-submit="add_community_member(_project)">-->
            <!--<div class="row">-->
                <!--Add Community Member-->
            <!--</div>-->
            <!--<div layout="row">-->
                <!--<md-button ng-click="vm.reset_form()" type="button" class="md-fab md-mini md-error" aria-label="Reset form" title="Reset form">-->
                    <!--<span class="glyphicon glyphicon-trash"></span>-->
                <!--</md-button>-->
                <!--&lt;!&ndash;<md-button type="submit" class="md-fab md-mini md-primary" aria-label="Import Community List" title="Import Community List">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="glyphicon glyphicon-floppy-disk"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="file" ngf-select accept="text/csv" title="Import File" placeholder="Import File" style="width: 1000px;" ng-model="_form.this_file" required>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--</div>-->



        <!--</form>-->
    <!--</md-card-content>-->

    <md-card-content>
        <form ng-submit="add_community_member(_project)">
            <div class="row">
                Community Members List
            </div>
            <div layout="row">
            </div>
            <div class="row">
            </div>



        </form>
    </md-card-content>
</md-card>
