<ul class="nav nav-pills nav-stacked" ng-if="vm.client_roles_with_keys[vm.role_id].role == 'All Client Admin'">
    <li><a ui-sref="profile">Profile</a></li>
    <li><a ui-sref="clients">Clients</a></li>
    <li><a ui-sref="seats">Seats</a></li>
    <li><a ui-sref="platforms">Platforms</a></li>
    <!--<li><a ui-sref="login">Logout</a></li>-->
</ul>
<!--<ul class="nav nav-pills nav-stacked" ng-if="vm.client_roles_with_keys[vm.role_id].role != 'All Client Admin'">-->
<ul class="nav nav-pills nav-stacked" ng-if="vm.client_roles_with_keys[vm.role_id].role != 'All Client Admin'">
    <li><a ui-sref="projects_list">Projects</a></li>
</ul>
<!--<ul class="nav nav-pills nav-stacked" ng-if="vm.client_roles_with_keys[vm.role_id].role != 'All Client Admin'">-->
<ul class="nav nav-pills nav-stacked">
    <li><a ui-sref="accounts">Accounts</a></li>
    <li><a ui-sref="communities_list">Communities</a></li>
</ul>
<hr>
<ul class="nav nav-pills nav-stacked">
    <li><a ui-sref="login">Logout</a></li>
</ul>
