<md-card>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Social Network Accounts for {{_this_community.name}}</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel_dialog()">
                <span class="glyphicon glyphicon-remove" aria-label="Close Details"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-card-content>
        <!--<form ng-submit="import_community(_this_community)">-->
            <!--<div layout="row">-->
                <!--<md-button ng-click="vm.reset_form()" type="button" class="md-fab md-mini md-error" aria-label="Reset form" title="Reset form">-->
                    <!--<span class="glyphicon glyphicon-trash"></span>-->
                <!--</md-button>-->
                <!--<md-button type="submit" class="md-fab md-mini md-primary" aria-label="Import Community List" title="Import Community List">-->
                    <!--<span class="glyphicon glyphicon-floppy-disk"></span>-->
                <!--</md-button>-->
                <!--<input type="file" ngf-select accept="text/csv" title="Import File" placeholder="Import File" style="width: 1000px;" ng-model="_this_community.import.this_file" required>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--</div>-->

        <!--</form>-->
    </md-card-content>
</md-card>
