<md-card>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Social Network Accounts Of Interest for {{_project.name}}</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel_dialog()">
                <span class="glyphicon glyphicon-remove" aria-label="Close Details"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-card-content>
        <form ng-submit="vm.update_form(_project)">
            <div layout="row">
                <md-button ng-click="vm.delete_project(_project.id)" type="button" class="md-fab md-mini md-error" aria-label="Delete This Project" title="Delete This Project">
                    <span class="glyphicon glyphicon-trash"></span>
                </md-button>
                <md-button ng-click="vm.update_form(_project)" type="submit" class="md-fab md-mini md-primary" aria-label="Save Project Updates" title="Save Project Updates">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </md-button>
                <md-input-container class="md-block" flex-gt-sm>
                    <input type="text" title="Project Name" placeholder="Project Name" ng-model="_project.name" style="width: 150px;">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <input type="checkbox" title="Alert All" placeholder="Alert All" ng-model="_project.alert_all" style="width: 250px;">
                </md-input-container>
                <!--<md-input-container>-->
                <!--<md-select title="Affiliated Client" placeholder="Affiliated Client" ng-model="_seat.tab_client_id" style="width: 250px;">-->
                <!--<md-option ng-repeat="_option in vm.clients" value="{{_option.id}}">-->
                <!--{{_option.name}}-->
                <!--</md-option>-->
                <!--</md-select>-->
                <!--</md-input-container>-->
            </div>
        </form>
            <div class="row" style="width: 800px;">
                <span class="md-headline"></span> <span class="md-subhead {{status_class}}">{{status}}</span>
            </div>
            <div class="row" style="width: 800px;">
                <form ng-submit="add_project_account(_project)">
                    <md-button ng-click="clear_account_form()" type="button" class="md-fab md-mini md-warning" aria-label="Clear Form" title="Clear Form">
                        <span class="glyphicon glyphicon-erase"></span>
                    </md-button>
                    <md-button type="submit" class="md-fab md-mini md-primary" aria-label="Add Account" title="Add Account">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </md-button>
                    <md-input-container flex-gt-sm>
                        <input type="text" title="Account Screen Name" placeholder="Account Screen Name" ng-model="_new_account.screen_name" style="width: 150px;">
                    </md-input-container>
                    <md-input-container>
                        <md-select title="Account Type" placeholder="Account Type" ng-model="_new_account.ref_account_type_id" name="_account_type" required style="width: 150px;">
                            <md-option ng-repeat="_option in _account_types" value="{{_option.id}}">
                                {{_option.typename}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </form>
            </div>
            <div class="row" ng-repeat="this_account in _project_accounts" style="width: 800px;">
                <form>
                    <md-button ng-click="delete_project_account_relation(_project.id, this_account.id)" type="button" class="md-fab md-mini md-error" aria-label="Remove Account from Project" title="Remove Account from Project">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </md-button>
                    <md-button ng-click="update_project_account_relation(_project, this_account)" type="submit" class="md-fab md-mini md-primary" aria-label="Save Account Updates" title="Save Account Updates">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </md-button>
                    <md-input-container flex-gt-sm>
                        <input type="text" title="Screen Name" placeholder="Screen Name" ng-model="this_account.screen_name" style="width: 150px;">
                    </md-input-container>
                    <md-input-container>
                        <md-select title="Account Type" placeholder="Account Type" ng-model="this_account.ref_account_type_id" name="_account_type" required style="width: 150px;">
                            <md-option ng-repeat="_option in _account_types" value="{{_option.id}}">
                                {{_option.typename}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex-gt-sm>
                        <input type="text" title="Name" placeholder="Name" ng-model="this_account.name" style="width: 150px;" readonly>
                    </md-input-container>
                    <md-input-container flex-gt-sm>
                        <input type="text" title="Account URL" placeholder="Account URL" ng-model="this_account.account_url" style="width: 250px;" readonly>
                    </md-input-container>
                </form>
            </div>
    </md-card-content>
</md-card>
