<nav class="navbar navbar-default navbar-fixed-top" style="background-color: {{_bg_color_header}};">
    <!--<a class="navbar-brand" href="/"><img src="/img/sample_logo.jpg" style="width:50px; height: 50px;"></a>-->
    <a href="/"><img src="{{_small_logo}}" title="{{_app_title}}" style="height: 50px;"></a>  <strong class="lead">{{_app_title}} ({{vm.user_name}})</strong>
</nav>

<div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-2" ui-view="v_nav">
        </div>
        <div class="col-md-10" ui-view="v_main">
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: {{_bg_color_footer}};">
    <div ui-view="v_footer"></div>
</nav>
