<div class="col-md-12">
    <div class="row">
        <strong>Social Media Platforms (Admin Entry)</strong> <span class="{{vm.status_class}}">{{vm.status}}</span>
    </div>
    <div class="row">
        <table>
            <form ng-submit="vm.submit_platform_form()">
                <tr>
                    <td>
                        <md-button type="button" class="md-fab md-mini md-warning" aria-label="Clear Form" title="Clear Form" ng-click="vm.this_platform_reset()">
                            <span class="glyphicon glyphicon-erase"></span>
                        </md-button>
                        <md-button type="submit" class="md-fab md-mini md-primary" aria-label="Save New Entry" title="Save New Entry" ng-click="vm.submit_platform_form()">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </md-button>
                    </td>
                    <td>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" title="Platform Name" placeholder="Platform Name" ng-model="vm.this_platform.name">
                        </md-input-container>
                    </td>
                    <td></td><td></td>
                </tr>
            </form>
            <tr ng-repeat="_platform in vm.platforms">
                <form ng-submit="vm.update_platform_form(_platform)">
                    <td>
                        <md-button ng-click="vm.delete_platform(_platform.id)" type="button" class="md-fab md-mini md-error" aria-label="Delete This Entry" title="Delete This Entry">
                            <span class="glyphicon glyphicon-trash"></span>
                        </md-button>
                        <md-button ng-click="vm.update_platform_form(_platform)" type="submit" class="md-fab md-mini md-primary" aria-label="Save Entry Updates" title="Save Entry Updates">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </md-button>
                    </td>
                    <!--<td title="Name">{{_client.name}}</td><td title="Updated At">{{_client.updated_at}}</td><td title="Created At">{{_client.created_at}}</td>-->
                    <td>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" title="Platform Name" placeholder="Platform Name" ng-model="_platform.name">
                        </md-input-container>
                    </td>
                    <td title="Updated At">{{_platform.updated_at}}</td><td title="Created At">{{_platform.created_at}}</td>
                </form>
            </tr>
        </table>
    </div>
</div>
